<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header-title">
            <h1>NODE TASK ON EXPRESS APP</h1>
        </div>        
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/" class="nav-item">Home</a></li>
                <li><a href="/about" class="nav-item">About</a></li>
                <li><a href="/contact" class="nav-item">Contact</a></li>
            </ul>
        </nav>

    </header>

</body>
</html>